<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @gallery.description %><br/>
  <%= link_to @gallery.picture.filename, @gallery.picture, target: '_blank' %>
  <%= link_to 'download', rails_blob_path(@gallery.picture, disposition: "attachment") %> <br/>
  <strong>Uploads:</strong> <br/>
  <% if @gallery.uploads.attached? %>
    <% @gallery.uploads.each do |upload| %>
      <%= link_to upload.filename, upload, target: '_blank' %>
      <%= link_to 'download', rails_blob_path(upload, disposition: "attachment") %> <br/>
    <% end %>
  <% else %>
    <p>no uploads</p>
  <% end %>
</p>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
